* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  padding: 25px 30px;
  text-align: left;
  font-size: 15px;
  transition: 1s;
}
.active,
.accordion:hover {
  background-color: #ccc;
}
.paragraph {
  padding: 0px 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s ease-out;
  /* display: none; */
}

.accordion:after {
  content: "\002B";
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
